.container {
  width: 550px;
  margin: 20px auto;
}

.steps {
  width: 100%;
}

.steps-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0;
}

.steps-form__label {
  display: flex;
  flex-direction: column;
}

.steps-form__title {
  margin-bottom: 15px;
}

.steps-form__input, .steps-form__submit {
  height: 50px;
  line-height: 50px;
  outline: none;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
}

.steps-form__input {
  padding: 0 10px;
  width: 200px;
}

.steps-form__input_error {
  border-color: red;
}

.steps-form__submit {
  cursor: pointer;
  padding: 0;
  background: white;
  width: 80px;
}

.titles {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.results {
  border-radius: 30px;
  border: 2px solid #000;
  padding: 20px 30px;
  margin: 30px 0;
}

.results__row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.results__row:first-child {
  margin-top: 0;
}

.results__action {
  border: none;
  outline: none;
  padding: 0 6px;
  font-size: 1.1em;
  background: transparent;
  cursor: pointer;
}